<!DOCTYPE html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Title | Index</title>

<link href="css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/func.js"></script>

</head>
<body>
	<!-- header -->
  <div class="header">
    <div class="wrap">
    	<div class="hed-top nuclear">
    		<a href="#" class="logo"><img src="images/logo.png" alt=""></a>
    		<div class="hed-mdl">
    			<ul class="nav">
    				<li><a href="#"><img src="images/n1.png" alt=""></a><img src="images/sep.gif" alt=""></li>
    				<li><a href="#"><img src="images/n2.png" alt=""></a><img src="images/sep.gif" alt=""></li>
    				<li><a href="#"><img src="images/n3.png" alt=""></a></li>
    			</ul>
    			<div class="search nuclear">
    				<form action="" method="post">
    					<input type="text" placeholder="поиск" class="inp">
    					<input type="submit" value="найти" class="but">
    				</form>
    			</div>
    		</div>
    		<div class="contact">
    			<span>Наш телефон    г.Москва</span>
    			<div class="phone">
    				<span>8(495) <b>991-99-58</b></span>&nbsp;&nbsp;
    				<span>8 (926) <b>911 69 29</b></span>
    			</div>
    			<span class="inf">Многокональный</span>
    		</div>
    	</div>
    	<div class="hed-mnu">
	    	<ul>
	    		<li><a href="#">О Компании</a></li>
	    		<li><a href="#">Продукция</a></li>
	    		<li class="active"><a href="#">Фотогалерея</a></li>
	    		<li><a href="#">Партнеры</a></li>
	    		<li><a href="#">Реквизиты</a></li>
	    		<li><a href="#">Контакты</a></li>    		
	    	</ul>
	    </div>
    </div>
  </div>      
  <!--/ header -->
  <!-- top-slider -->
  <div class="top-slider">
		<div class="wrap">
			<div class="mask"></div>
			<div class="sl-wrp">
				<div class="ul bxslider">
					<li><a href="#"><img src="images/sl.jpg" alt=""></a></li>
					<li><a href="#"><img src="images/sl1.jpg" alt=""></a></li>
					<li><a href="#"><img src="images/sl.jpg" alt=""></a></li>
					<li><a href="#"><img src="images/sl1.jpg" alt=""></a></li>
					<li><a href="#"><img src="images/sl.jpg" alt=""></a></li>
					<li><a href="#"><img src="images/sl1.jpg" alt=""></a></li>
				</div>
			</div>
		</div>		
  </div>
  <!--/ top-slider -->
  <div class="cnt-wrp">
  	<div class="cnt-wrp-in">
  		<div class="wrap nuclear"> 
  			<!-- sidebar 			 -->
  			<div class="sidebar">
  				<ul class="navigation">
  					<li><a href="#">Главная</a></li>
  					<li><a href="#">Полипропиленовые трубы PRAGMA</a></li>
  					<li><a href="#">Полиэтиленовые трубы</a></li>
  					<li><a href="#">Тубы Б/У</a></li>
  					<li><a href="#">Металлическая</a></li>
  					<li><a href="#">Арматура AIII</a></li>
  					<li><a href="#">Композитная арматура GRP</a></li>
  					<li><a href="#">Прайс-лист</a></li>
  					<li><a href="#">Обратная связь</a></li>
  					<li><a href="#">Нержавеющая сталь</a></li>
  					<li><a href="#">Фитинги для ограждений</a></li>  					
  				</ul>
  			</div>
  			<!--/ sidebar -->
  			<!-- content -->
  			<div class="content">
  				<div class="bread-crumbs">
  					<a href="#">Главная</a>
  					<span class="sep">/</span>
  					Полипропиленовые трубы PRAGMA
  				</div>
  				<h1>Полипропиленовые трубы PRAGMA</h1>
  				<p>Канализационные раструбные трубы из полипропилена с двойной стенкой по: <strong>ТУ22-001-96467180-2008</strong> производство ООО"Пайплайф РУС". Наружная гофрированная поверхность - рыжего цвета, внутренняя гладкая поверхность - белая. Окружная жесткость 8кН/м2, эксплуатационный класс Т. Длина труб - 6 м, в одном конце раструб, в пазе другого конца - резиновое уплотнение.</p>
  				<div class="table-wrp">
  					<table cellpadiing="0" cellspacing="0">
  						<tr>
  							<th>Наименование</th>
  							<th>Наружн. д., мм</th>
  							<th>Внутр. д., мм</th>
  							<th colspan="2">
  								Цена в рублях с НДС
  								<table cellpadding="0" cellspacing="0">
  									<tr>
  										<th>за штуку (6м)</th>
  										<th>за метр</th>
  									</tr>
  								</table>
  							</th>
  							<th>Наружн. д., мм</th>
  							<th>Внутр. д., мм</th>
  							<th colspan="2">
  								Цена в рублях с НДС
  								<table cellpadding="0" cellspacing="0">
  									<tr>
  										<th>за штуку (6м)</th>
  										<th>за метр</th>
  									</tr>
  								</table>
  							</th>
  						</tr>
  						<tr>
  							<td class="name" rowspan="8">Труба PRAGMA</td>
  							<td class="color">170</td>
  							<td class="color">150</td>
  							<td>2100,00</td>
  							<td>350,00</td>
  							<td class="color">160</td>
  							<td class="color">139</td>
  							<td>2325,00</td>
  							<td>352,00</td>
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td class="color">150</td>
  							<td>2100,00</td>
  							<td>350,00</td>
  							<td class="color">160</td>
  							<td class="color">139</td>
  							<td>2325,00</td>
  							<td>352,00</td>
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td class="color">150</td>
  							<td>2100,00</td>
  							<td>350,00</td>
  							<td class="color">160</td>
  							<td class="color">139</td>
  							<td>2325,00</td>
  							<td>352,00</td>
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td class="color">150</td>
  							<td>2100,00</td>
  							<td>350,00</td>
  							<td class="color">160</td>
  							<td class="color">139</td>
  							<td>2325,00</td>
  							<td>352,00</td>
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td class="color">150</td>
  							<td>2100,00</td>
  							<td>350,00</td>
  							<td class="color">160</td>
  							<td class="color">139</td>
  							<td>2325,00</td>
  							<td>352,00</td>
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td class="color">150</td>
  							<td>2100,00</td>
  							<td>350,00</td>
  							<td class="color">160</td>
  							<td class="color">139</td>
  							<td>2325,00</td>
  							<td>352,00</td>
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td class="color">150</td>
  							<td>2100,00</td>
  							<td>350,00</td>
  							<td colspan="4" rowspan="2">Каждая труба укомплектована<br>уплотнительным кольцом</td>  							
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td class="color">150</td>
  							<td>2100,00</td>
  							<td>350,00</td>  							
  						</tr>  						
  					</table>
  				</div>
  				<div class="table-wrp">
  					<table cellpadiing="0" cellspacing="0">
  						<tr>
  							<th>Наименование</th>
  							<th>Внутр. диам., мм</th>
  							<th>Цена в рублях с НДС за штуку</th>  							
  							<th>Внутр. диам., мм</th>
  							<th>Цена в рублях с НДС за штуку</th>  							
  						</tr>
  						<tr>
  							<td class="name" rowspan="8">Уплотнительное кольцо</td>
  							<td class="color">170</td>
  							<td>66,00</td>
  							<td>160</td>
  							<td>57,00р.</td>  							
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td>66,00</td>
  							<td>160</td>
  							<td>57,00р.</td>  							
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td>66,00</td>
  							<td>160</td>
  							<td>57,00р.</td>  							
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td>66,00</td>
  							<td>160</td>
  							<td>57,00р.</td>  							
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td>66,00</td>
  							<td>160</td>
  							<td>57,00р.</td>  							
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td>66,00</td>
  							<td>160</td>
  							<td>57,00р.</td>  							
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td>66,00</td>
  							<td colspan="2" rowspan="2"></td>  									
  						</tr>
  						<tr>
  							<td class="color">170</td>
  							<td>66,00</td>  							
  						</tr>  						
  					</table>
  				</div>
  				<div class="download">
  					<div class="dwn-l">
  						<div class="dwn-r">
  							<a href="#">Скачать прайс на пластиковую трубу</a>
  						</div>
  					</div>
  				</div>
  			</div>
  			<!--/ content -->
  		</div>
  	</div>
  </div>
  <!-- footer -->
  <div class="footer">
  	<div class="wrap nuclear">
  		<div class="counter">
  			<a href="#"><img src="images/cn1.gif" alt=""></a>
  			<a href="#"><img src="images/cn2.gif" alt=""></a>
  			<a href="#"><img src="images/cn3.gif" alt=""></a>
  		</div>
  		<span class="copy">Copyright AlexDiz By  с  2014</span>
  	</div>
  </div>
  <!--/ footer -->
</body>
</html>
