html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-size: 100%;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

table {
	border-collapse: collapse; 
	border-spacing: 0;
}

td, td img {
	vertical-align: top;
} 

input, select, button, textarea {
	margin: 0;
	font-size: 100%;
	outline: none;
}

textarea{
	resize: none;
}

input[type="text"], input[type="password"], textarea {
	padding: 0;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

html {
	overflow-y: scroll; 
	height: 100%;
}

body {
	line-height: 1;
	background: url(../images/bg.jpg) left top repeat-x #F9FDFC;
	color: #555E63;
	text-align: left;
	font: 12px 'PT Sans', sans-serif, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-weight: 400;
	min-width: 1000px;
	height: 100%;
}

input, select, button, textarea {
	font-family: 'PT Sans', sans-serif, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-weight: 400;
}

label, input[type="button"], input[type="submit"], button {
	cursor: pointer;
}

a, a:visited {
	color: #3F7597;
	text-decoration: underline;
}

a:hover {
	color: #3F7597;
	text-decoration: none;
}

a:focus, a:active {
	color: #3F7597;
	text-decoration: underline;
}

img{
	vertical-align: top;
}

.clear{
	clear:both;
	font-size:0;
	padding:0
}

.nuclear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}

.nuclear{
	zoom: 1;
	display: block;
}

li{
	list-style: none;
}

input[type="submit"]::-moz-focus-inner{padding:0;border:0}

.bg-layer-1{
	background: url(../images/pat.png) left top repeat-x;
}

.bg-layer-2{
	background: url(../images/shadow.png) center top no-repeat;
}

.wrap-out{
	max-width: 1083px;
	margin: 0px auto;
}

.wrap{
	width: 1000px;
	margin: 0px auto;
}

.header{
	padding: 0 0 15px 0;
}

.hed-top{
	padding: 20px 0 28px 0;
}

.header .logo{
	display: block;
	float: left;
	margin: 0 23px 0 0;
}

.header .slogan{
	float: left;
	margin: 30px 50px 0 0;
	background: url(../images/arr.png) left center no-repeat;
	line-height: 14px;
	font-style: italic;
	font-size: 16px;
	width: 145px;
	padding: 0 0 0 30px;
	color: #7F9AAD;
}

.header .phone{
	float: left;
	margin: 22px 0 0 0;
	background: url(../images/phone.png) left top no-repeat;
	padding: 0 0 0 50px;
}

.header .phone .txt{
	display: block;
	font-size: 14px;
	font-style: italic;
	color: #8CA7BA;
}

.header .phone .number{
	font-size: 27px;
	color: #49617D;
	line-height: 27px;	
}

.header .phone .number span{
	font-size: 13px;
	position: relative;
	top: -7px;
}

.header .search{
	margin: 22px 0 0;
	width: 173px;
	padding: 8px 7px 6px 30px;
	border-bottom: 1px solid #D9EAF2;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: url(../images/s-arr.gif) 14px center no-repeat #fff;
	float: right;
}

.header .search .inp{
	float: left;
	border: none;
	background: #fff;
	height: 27px;
	line-height: 27px;
	width: 140px;
	color: #ADBBC4;
	font-style: italic;
	font-size: 13px;
}

.header .search .mag{
	float: right;
	display: block;
	border: none;
	background: url(../images/mag.png) left top no-repeat;
	cursor: pointer;
	width: 27px;
	height: 27px;
}

.header .hed-mnu{
	background: url(../images/hm.png) center top no-repeat;
}

.header .menu-wrapper{
  width: 100%;
  display: table;
}

.header .menu{
  display: table-row;
}

.header .menu li{
  display: table-cell;
  float: none;
  padding: 0 6px 0 0;
  background: url(../images/hm-bull.png) right 25px no-repeat;
}

.header .menu li:last-child{
	background: none;
	padding: 0;
}

.header .menu li a{
  display: block;
  padding: 17px 10px;
  line-height: 21px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-align: center; 
  font-weight: bold;
}

.header .menu li a:hover{
  color: #FFF2CB;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cnt-wrp{
	padding: 0 0 30px 0;
}

.cnt-wrp .wrap-out{
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 13px 30px -2px #C7D6D9;
	-webkit-box-shadow: 0 13px 30px -2px #C7D6D9;
	box-shadow: 0 13px 30px -2px #C7D6D9;
}

.cnt-wrp-in{
	padding: 25px 0 65px 0;
}

.slider-wrp{
	position: relative;
	overflow: hidden;
	height: 243px;
	background: url(../images/sl.jpg) center top no-repeat;
}

.slider-wrp .slide{
	position: relative;
	height: 243px;
	width: 1000px;
}

.slider-wrp .slide .sl-logo{
	position: absolute;
	left: 8px;
	top: 0;
}

.slider-wrp .slide .text{
	width: 325px;
	position: absolute;
	right: 105px;
	top: 15px;
	height: 190px;
	padding: 15px 0 0 38px;
	background: url(../images/txt.png) left 0 no-repeat;
}

.slider-wrp .slide .text .hd{
	font-weight: 700;
	font-size: 30px;
	line-height: 22px;
	color: #394B63;
	margin: 0 0 10px 0;
}

.slider-wrp .slide .text .hd span{
	display: block;
	font-size: 36px;
}

.slider-wrp .slide p{
	line-height: 19px;
	margin: 0 0 15px 0;
	color: #7D8997;
	font-size: 14px;
}

.slider-wrp .slide .more{
	display: inline-block;
	font-size: 13px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 0 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: -moz-linear-gradient( top, #9FCC29, #598B1C );
	background: -webkit-linear-gradient( top, #9FCC29, #598B1C );
	background: -o-linear-gradient( top, #9FCC29, #598B1C );
	background: -khtml-linear-gradient( top, #9FCC29, #598B1C );
	background: -ms-linear-gradient( top, #9FCC29, #598B1C );
	background: linear-gradient( top, #9FCC29, #598B1C );
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#9FCC29, EndColorStr=#598B1C, GradientType=0);
}

.slider-wrp .slide .more:hover{
	background: -moz-linear-gradient( top, #b0d835, #699b21 );
	background: -webkit-linear-gradient( top, #b0d835, #699b21 );
	background: -o-linear-gradient( top, #b0d835, #699b21 );
	background: -khtml-linear-gradient( top, #b0d835, #699b21 );
	background: -ms-linear-gradient( top, #b0d835, #699b21 );
	background: linear-gradient( top, #b0d835, #699b21 );
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#b0d835, EndColorStr=#699b21, GradientType=0);
}

.slider-wrp .bx-controls-direction a,
.partners-slider a{
	display: block;
	text-indent: -9999px;
	outline: none;
	width: 56px;
	height: 56px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background-image: url(../images/sl-arr.png);
	background-repeat: no-repeat;
	background-color: rgba(111, 138, 157, 0.6);
	top: 90px;
	position: absolute;
	z-index: 1000;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
}

.slider-wrp .bx-controls-direction a:hover,
.partners-slider a:hover{
	background-color: rgba(111, 138, 157, 0.9);	
}

.slider-wrp .bx-controls-direction a.bx-prev,
.partners-slider a.bx-prev{
	background-position: left 0;
	left: 15px;
}

.slider-wrp .bx-controls-direction a.bx-next,
.partners-slider a.bx-next{
	background-position: right 0;
	right: 15px;
}

.slider-wrp .bx-pager{
	position: absolute;
	bottom: 15px;
	left: 610px;
	z-index: 1000;
}

.slider-wrp .bx-pager .bx-pager-item{
	float: left;
	margin: 0 5px 0 0;
}

.slider-wrp .bx-pager .bx-pager-link{
	display: block;
	float: left;
	text-indent: -9999px;
	outline: none;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
	width: 13px;
	height: 13px;
	border: 3px solid #A1BFCA;
	z-index: 1000;
}

.slider-wrp .bx-pager .bx-pager-link.active{
	border: 3px solid #FDC003;
}

.sidebar{
	float: left;
	width: 248px;
}

.category-mnu{
	padding: 20px 0;
	margin: 0 0 30px 0;
	background: #DFE8ED;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.category-mnu ul{
	padding: 15px;
	background: #F3F8FB;
	border-top: 1px solid #CCD9E1;
	border-bottom: 1px solid #CCD9E1;
}

.category-mnu li{
	display: block;
	border-bottom: 1px solid #D7E0E5;
}

.category-mnu li:last-child{
	border-bottom: 1px solid transparent;
}

.category-mnu li:hover{
	border-bottom: 1px solid transparent;
}

.category-mnu li a{
	display: block;
	text-decoration: none;
	font-size: 15px;
	line-height: 14px;
	padding: 8px 30px 8px 15px;
	margin: 0 -15px;
	color: #3E7496;
	background: url(../images/cm.png) 228px center no-repeat;
	-webkit-transition: all 0.1s ease-in-out; 
	-moz-transition: all 0.1s ease-in-out; 
	-o-transition: all 0.1s ease-in-out; 
	transition: all 0.1s ease-in-out;
}

.category-mnu li a:hover{
	background: #697F97;
	color: #fff;
	font-weight: 700;
}

.sidebar .news{
	padding: 0 0 20px 0;
}

.sidebar .news .headline{
	padding: 0 0 13px 15px;
	border-bottom: 2px solid #EAF2F5;
}

.sidebar .news .headline .hd{
	float: left;
	font-weight: 700;
	margin: 0 15px 0 0;
	color: #373F4A;
	font-size: 22px;
}

.sidebar .news .headline .all{
	display: block;
	float: left;
	margin: 7px 0 0 0;
	text-decoration: none;
	font-size: 13px;
	font-style: italic;
	color: #B94E60;
	border-bottom: 1px dotted #B94E60;
}

.sidebar .news .headline .all:hover{
	border-bottom: 1px dotted transparent;
}

.sidebar .news .news-item{
	margin: 0 0 0 15px;
	padding: 20px 0;
	border-bottom: 1px dashed #D9D9D9;
}

.sidebar .news .news-item .data{
	display: block;
	font-size: 12px;
	padding: 0 0 0 15px;
	margin: 0 0 5px 0;
	background: url(../images/cm.png) left 4px no-repeat;
	color: #92A5B4;
}

.sidebar .news .news-item a{
	display: inline-block;
	text-decoration: none;
	line-height: 18px;
	font-size: 15px;
	color: #3F7496;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
}

.sidebar .news .news-item a:hover{
	text-decoration: underline;
	color: #485C67;
}

.content{
	float: right;
	width: 715px;
}

h1{
	font-size: 22px;
	font-weight: 700;
	margin: 0 0 15px 0;
	color: #374049;
}

h2{
	font-size: 22px;
	font-weight: 400;
	margin: 0 0 15px 0;
	color: #374049;
}

h3, h4, h4{
	font-size: 15px;
	font-weight: 700;
	margin: 0 0 10px 0;
	color: #545F65;
}

.content p{
	margin: 0 0 25px 0;
	line-height: 19px;
	color: #535D66;
	font-size: 15px;
}

.txt-mnu{
	padding: 0 0 10px 15px;
}

.txt-mnu li{
	display: block;
	padding: 0 0 0 23px;
	margin: 0 0 15px 0;
	line-height: 18px;
	color: #535D66;
	font-style: italic;
	font-size: 15px;
	background: url(../images/txt-arr.png) left 5px no-repeat;
}

.catalog{
	padding: 0 0 50px 0;
}

.catalog .row{
	margin: 0 0 15px 0;
}

.catalog .row li{
	width: 132px;
	height: 190px;
	margin: 0 30px 0 20px;
	float: left;
}

.catalog .row li.last{
	margin: 0 0 0 20px;
}

.catalog .row li a{
	display: block;
	text-decoration: none;
	line-height: 14px;
	color: #3E7496;
	font-size: 15px;
	text-align: center;
}

.catalog .row li a:hover{
	font-weight: 700;
}

.catalog .row li .img-wrp{
	display: block;
	background: url(../images/sq.jpg) left top no-repeat;
	margin: 0 0 10px 0;
	padding: 4px 0 0 0;
	overflow: hidden;
}

.catalog .row li .img-wrp img{
  display: block;
  max-width: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.catalog .row li a:hover .img-wrp img{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.catalog .row.square li .img-wrp{
	width: 132px;
	height: 128px;
	background-position: left 0;	
}

.catalog .row.square li a:hover .img-wrp{
	background-position: left -132px;
}

.catalog .row.round li .img-wrp{
	width: 126px;
	height: 122px;
	background-position: left -264px;
	overflow: hidden;
}

.catalog .row.round li a:hover .img-wrp{
	background-position: left -390px;
}

.catalog .row.semicircle li .img-wrp{
	width: 128px;
	height: 124px;
	background-position: left -516px;
	overflow: hidden;
}

.catalog .rowsemicircle li a:hover .img-wrp{
	background-position: left -644px;
}

.partners{
	padding: 0 0 20px 0;
}

.content .headline{
	font-weight: 700;
	font-size: 22px;
	margin: 0 0 18px 0;
	color: #373F4A;
}

.partners-slider{
	overflow: hidden;
	padding: 40px 48px;
	position: relative;
	border-top: 4px solid #EAF2F5;
	border-bottom: 4px solid #EAF2F5;
}

.partners-slider ul li{
	display: block;
	float: left;
	margin: 0 5px 0 0;
	width: 110px;
	text-align: center;
}

.partners-slider a{
	top: 55px;
	width: 38px;
	height: 38px;
	background-image: url(../images/sl-arr-p.png);
}

.partners-slider a.bx-prev{
	left: 10px;
}

.partners-slider a.bx-next{
	right: 10px;
}

.footer{
	padding: 0 0 65px 0;
}

.footer .copy-item{
	float: left;
	width: 455px;
	margin: 0 20px 0 0;
}

.footer .copy-item .create{
	display: inline-block;
}

.footer .copy-item .copy{
	padding: 15px 0 0 0;
}

.footer .copy-item .copy span{
	display: block;
	font-size: 13px;
	line-height: 19px;
	color: #6D7B84;
}

.footer .copy-item .copy span a{
	text-decoration: none;
	font-weight: 700;
}

.footer .copy-item .copy span a:hover{
	text-decoration: underline;	
}

.footer .f-mnu{
	width: 166px;
	margin: 0 20px 0 0;
	float: left;
}

.footer .f-mnu li{
	display: block;
	font-size: 15px;
	margin: 0 0 4px 0;
}

.footer .f-mnu li a{
	text-decoration: none;
}

.footer .f-mnu li a:hover{
	text-decoration: underline;
}

.footer .counter{
	float: right;
	width: 110px;
	padding: 0 35px 0 0;
}

.footer .counter a{
	display: inline-block;
	margin: 0 0 10px 0;
}

.bread-crumb{
	margin: 0 0 25px 0;
}

.bread-crumb li{
	display: block;
	float: left;
	font-size: 13px;
	padding: 0 13px 0 0;
	margin: 0 8px 0 0;
	background: url(../images/bc.gif) right 5px no-repeat;
	color: #808990;
}

.bread-crumb li:last-child{
	padding: 0;
	margin: 0;
	background: none;
}

.bread-crumb li a{
	text-decoration: none;
	display: block;
	float: left;
	color: #5D86A2;
}

.bread-crumb li a:hover{
	text-decoration: underline;
}

.listing{
	margin: 0 0 50px 0;
}

.listing .item{
	float: left;
	width: 350px;
	height: 164px;
	padding: 19px 0;
	border-bottom: 1px dashed #CCCCCC;
	margin: 0 15px 0 0;
}

.listing .item.second{
	margin: 0;
}

.listing .item .img-wrp{
	display: block;
	float: left;
	width: 140px;
	height: 140px;
	overflow: hidden;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	padding: 12px;
	background: #F3F8FE;
	border: 1px solid #C4D0E0;
	-webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.listing .item:hover .img-wrp{
	-moz-box-shadow: 0 0 1px 2px #67BBEA;
	-webkit-box-shadow: 0 0 1px 2px #67BBEA;
	box-shadow: 0 0 1px 2px #67BBEA;
	border: 1px solid #67BBEA;
}

.listing .item .img-wrp img{
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	 display: block;
  max-width: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.listing .item:hover .img-wrp img{
	-webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.listing .item .descript-proposal{
	margin: 0 0 0 183px;
	padding: 32px 0 0 0;
}

.listing .item .descript-proposal .hd{
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	line-height: 16px;
	color: #3B7696;
	-webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 0 0 5px 0;
}

.listing .item .descript-proposal .hd:hover{
	font-weight: 700;
}

.listing .item .descript-proposal .type{
	display: block;
	font-size: 13px;
	color: #556066;
	margin: 0 0 5px 0;
}

.listing .item .descript-proposal .qty{
	display: inline-block;
	font-size: 14px;
	color: #73733F;
}

.listing .item .descript-proposal .qty.presence{
	color: #AC5275;
}

.pager{
	padding: 0 0 20px 0;
	font-size: 1px;
	line-height: 1px;
	text-align: center;
}

.pager li{
	display: inline-block;
	color: #393E44;
	min-width: 30px;
	text-align: center;
	font-size: 19px;
}

.pager li a,
.pager li span{
	display: inline-block;
	height: 31px;
	line-height: 31px;
	color: #363E49;
	padding: 0 11px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	text-decoration: none;
}

.pager li a:hover,
.pager li span{
	color: #fff;
	background: #FF9C01;
}

.pager li.prev,
.pager li.next{
	margin: 0 20px;
}

.pager li.prev a,
.pager li.next a{
	line-height: normal;
	height: auto;
	padding: 0;
	text-decoration: none;
	border-bottom: 1px dotted #3D7694;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 16px;
	font-style: italic;
	color: #3D7694;
}

.pager li.prev a:hover,
.pager li.next a:hover{
	border-bottom: 1px dotted transparent;
	background: none;
	color: #3D7694;
}

.product-wrp{
	padding: 0 0 20px 0;
	margin: 0 0 30px 0;
	border-bottom: 1px dashed #D5D5D5;
}

.product-wrp .view-wrp{
	float: left;
	width: 350px;
}

.product-wrp .view-wrp .big-img{
	position: relative;
	width: 348px;
	height: 266px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.product-wrp .view-wrp .big-img img{
	position: relative;
	z-index: 1;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.product-wrp .view-wrp .big-img .zoom{
	display: block;
	position: absolute;
	z-index: 10;
	text-decoration: none;
	width: 48px;
	height: 48px;
	background: url(../images/zomm.png) left top no-repeat;
	bottom: -3px;
	right: -3px;
}

.product-wrp .view-wrp .info{
	padding: 20px 0 0 20px;
}

.product-wrp .view-wrp .star{
	position: relative;
	left: -7px;
	color: #ED5989;
}

.product-wrp .view-wrp .phone .txt{ 
	display: inline-block;
	font-style: italic;
	color: #8CA7BC;
	font-size: 14px;
}

.product-wrp .view-wrp .phone .number{
	font-size: 27px;
	color: #49617B;
}

.product-wrp .view-wrp .phone .number span{
	font-size: 13px;
	position: relative;
	top: -10px;
}

.product-wrp .descript-wrp{
	float: right;
	width: 325px;
}

.product-wrp .descript-wrp .type{
	display: block;
	font-size: 13px;
	margin: 0 0 13px 0;
	color: #536068;
}

.product-wrp .descript-wrp .qty{
	display: block;
	font-size: 14px;
	margin: 0 0 13px 0;
	color: #727240;
}

.product-wrp .descript-wrp .claim{
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	height: 44px;
	line-height: 44px;
	padding: 0 17px;
	text-decoration: none;
	border: none;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: -moz-linear-gradient( top, #9FCC29, #598B1C );
	background: -webkit-linear-gradient( top, #9FCC29, #598B1C );
	background: -o-linear-gradient( top, #9FCC29, #598B1C );
	background: -khtml-linear-gradient( top, #9FCC29, #598B1C );
	background: -ms-linear-gradient( top, #9FCC29, #598B1C );
	background: linear-gradient( top, #9FCC29, #598B1C );
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#9FCC29, EndColorStr=#598B1C, GradientType=0);
}

.product-wrp .descript-wrp .claim:hover{
	background: -moz-linear-gradient( top, #b0d835, #699b21 );
	background: -webkit-linear-gradient( top, #b0d835, #699b21 );
	background: -o-linear-gradient( top, #b0d835, #699b21 );
	background: -khtml-linear-gradient( top, #b0d835, #699b21 );
	background: -ms-linear-gradient( top, #b0d835, #699b21 );
	background: linear-gradient( top, #b0d835, #699b21 );
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#b0d835, EndColorStr=#699b21, GradientType=0);
}